.App {
  text-align: center;
  height: 100%;
  width: 100%;
}
.form-body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.header{
  width: 100%;
}